![ ](https://www.pon-cat.com/application/files/7915/8400/2602/home-banner.jpg)

# <center> **Data Visualization and Exploratory Data Analysis** </center>

Visualization is an important part of data analysis. By presenting information visually, you facilitate the process of its perception, which makes it possible to highlight additional patterns, evaluate the ratios of quantities, and quickly communicate key aspects in the data.

Let's start with a little "memo" that should always be kept in mind when creating any graphs.

### <center> How to visualize data and make everyone hate you </center>

1. Chart **titles** are unnecessary. It is always clear from the graph what data it describes.
2. Do not label under any circumstances both **axes** of the graph. Let the others check their intuition!
3. **Units** are optional. What difference does it make if the quantity was measured, in people or in liters!
4. The smaller the **text** on the graph, the sharper the viewer's eyesight.
5. You should try to fit all the **information** that you have in the dataset in one chart. With full titles, transcripts, footnotes. The more text, the more informative!
6. Whenever possible, use as many 3D and special effects as you have. There will be less visual distortion rather than 2D.

As an example, consider the pandemic case. Let's use a dataset with promptly updated statistics on coronavirus (COVID-19), which is publicly available on Kaggle: https://www.kaggle.com/imdevskp/corona-virus-report?select=covid_19_clean_complete.csv

The main libraries for visualization in Python that we need today are **matplotlib, seaborn, plotly**.

In [1]:
# Download required binded packages
!pip install plotly-express
!pip install nbformat==4.2.0
!pip install plotly

Requirement already satisfied: plotly-express in /opt/anaconda3/lib/python3.8/site-packages (0.4.1)
Requirement already satisfied: statsmodels>=0.9.0 in /opt/anaconda3/lib/python3.8/site-packages (from plotly-express) (0.12.0)
Requirement already satisfied: scipy>=0.18 in /opt/anaconda3/lib/python3.8/site-packages (from plotly-express) (1.5.0)
Requirement already satisfied: patsy>=0.5 in /opt/anaconda3/lib/python3.8/site-packages (from plotly-express) (0.5.1)
Requirement already satisfied: plotly>=4.1.0 in /opt/anaconda3/lib/python3.8/site-packages (from plotly-express) (4.10.0)
Requirement already satisfied: numpy>=1.11 in /opt/anaconda3/lib/python3.8/site-packages (from plotly-express) (1.19.1)
Requirement already satisfied: pandas>=0.20.0 in /opt/anaconda3/lib/python3.8/site-packages (from plotly-express) (1.1.3)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.8/site-packages (from patsy>=0.5->plotly-express) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in /opt/anaconda3/lib/python3.8/site-packages (from plotly>=4.1.0->plotly-express) (1.3.3)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.20.0->plotly-express) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.20.0->plotly-express) (2.8.1)
Requirement already satisfied: nbformat==4.2.0 in /opt/anaconda3/lib/python3.8/site-packages (4.2.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.8/site-packages (from nbformat==4.2.0) (0.2.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /opt/anaconda3/lib/python3.8/site-packages (from nbformat==4.2.0) (3.2.0)
Requirement already satisfied: traitlets>=4.1 in /opt/anaconda3/lib/python3.8/site-packages (from nbformat==4.2.0) (5.0.4)
Requirement already satisfied: jupyter-core in /opt/anaconda3/lib/python3.8/site-packages (from nbformat==4.2.0) (4.6.3)
Requirement already satisfied: attrs>=17.4.0 in /opt/anaconda3/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (20.2.0)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (50.3.0.post20201006)
Requirement already satisfied: six>=1.11.0 in /opt/anaconda3/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (1.15.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /opt/anaconda3/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (0.17.3)
Requirement already satisfied: plotly in /opt/anaconda3/lib/python3.8/site-packages (4.10.0)
Requirement already satisfied: retrying>=1.3.3 in /opt/anaconda3/lib/python3.8/site-packages (from plotly) (1.3.3)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.8/site-packages (from plotly) (1.15.0)

In [2]:
import matplotlib.pyplot as plt #  the most popular library for making the plots
%matplotlib inline 
import numpy as np
import seaborn as sns
import pandas as pd
import pickle # for JSON serialization
import plotly
import plotly_express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from plotly.offline import init_notebook_mode
init_notebook_mode(connected=True)

%config InlineBackend.figure_format = 'svg' #  graphs in svg look sharper

# Change the default plot size
from pylab import rcParams
rcParams['figure.figsize'] = 7, 5

import warnings
warnings.filterwarnings('ignore')

We read the data and look at the number of countries in the dataset and what time period it covers.

In [3]:
data = pd.read_csv('./data/covid_19_clean.csv')

In [4]:
data.head(10)

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa
5,NaN,Antigua and Barbuda,17.06080,-61.796400,2020-01-22,0,0,0,0,Americas
6,NaN,Argentina,-38.41610,-63.616700,2020-01-22,0,0,0,0,Americas
7,NaN,Armenia,40.06910,45.038200,2020-01-22,0,0,0,0,Europe
8,Australian Capital Territory,Australia,-35.47350,149.012400,2020-01-22,0,0,0,0,Western Pacific
9,New South Wales,Australia,-33.86880,151.209300,2020-01-22,0,0,0,0,Western Pacific

How many countries there are in this table?

In [5]:
data['Country/Region'].nunique()

187

In [6]:
data.shape

(49068, 10)

In [7]:
data.describe()

,Lat,Long,Confirmed,Deaths,Recovered,Active
count,49068.000000,49068.000000,4.906800e+04,49068.000000,4.906800e+04,4.906800e+04
mean,21.433730,23.528236,1.688490e+04,884.179160,7.915713e+03,8.085012e+03
std,24.950320,70.442740,1.273002e+05,6313.584411,5.480092e+04,7.625890e+04
min,-51.796300,-135.000000,0.000000e+00,0.000000,0.000000e+00,-1.400000e+01
25%,7.873054,-15.310100,4.000000e+00,0.000000,0.000000e+00,0.000000e+00
50%,23.634500,21.745300,1.680000e+02,2.000000,2.900000e+01,2.600000e+01
75%,41.204380,80.771797,1.518250e+03,30.000000,6.660000e+02,6.060000e+02
max,71.706900,178.065000,4.290259e+06,148011.000000,1.846641e+06,2.816444e+06

In [20]:
float(4.290259e+06)

4290259.0

In [12]:
data.describe(include=['object'])

       Province/State Country/Region        Date WHO Region
count           14664          49068       49068      49068
unique             78            187         188          6
top          Zhejiang          China  2020-04-17     Europe
freq              188           6204         261      15040

How many cases in average were confirmed in all reports? Metrics of centrality:

In [13]:
data

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...,...
49063,NaN,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,NaN,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,NaN,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,NaN,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,NaN,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

In [17]:
data.iloc[-60:]

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
49008,NaN,Sudan,12.862800,30.217600,2020-07-27,11424,720,5939,4765,Eastern Mediterranean
49009,NaN,Suriname,3.919300,-56.027800,2020-07-27,1483,24,925,534,Americas
49010,NaN,Sweden,60.128161,18.643501,2020-07-27,79395,5700,0,73695,Europe
49011,NaN,Switzerland,46.818200,8.227500,2020-07-27,34477,1978,30900,1599,Europe
49012,NaN,Taiwan*,23.700000,121.000000,2020-07-27,462,7,440,15,Western Pacific
49013,NaN,Tanzania,-6.369028,34.888822,2020-07-27,509,21,183,305,Africa
49014,NaN,Thailand,15.870032,100.992541,2020-07-27,3297,58,3111,128,South-East Asia
49015,NaN,Togo,8.619500,0.824800,2020-07-27,874,18,607,249,Africa
49016,NaN,Trinidad and Tobago,10.691800,-61.222500,2020-07-27,148,8,128,12,Americas
49017,NaN,Tunisia,33.886917,9.537499,2020-07-27,1455,50,1157,248,Eastern Mediterranean
49018,NaN,Turkey,38.963700,35.243300,2020-07-27,227019,5630,210469,10920,Europe
49019,NaN,Uganda,1.373333,32.290275,2020-07-27,1128,2,986,140,Africa
49020,NaN,Ukraine,48.379400,31.165600,2020-07-27,67096,1636,37202,28258,Europe
49021,NaN,United Arab Emirates,23.424076,53.847818,2020-07-27,59177,345,52510,6322,Eastern Mediterranean
49022,Bermuda,United Kingdom,32.307800,-64.750500,2020-07-27,154,9,141,4,Europe
49023,Cayman Islands,United Kingdom,19.313300,-81.254600,2020-07-27,203,1,202,0,Europe
49024,Channel Islands,United Kingdom,49.372300,-2.364400,2020-07-27,584,47,533,4,Europe
49025,Gibraltar,United Kingdom,36.140800,-5.353600,2020-07-27,185,0,180,5,Europe
49026,Isle of Man,United Kingdom,54.236100,-4.548100,2020-07-27,336,24,312,0,Europe
49027,Montserrat,United Kingdom,16.742498,-62.187366,2020-07-27,12,1,10,1,Europe
49028,NaN,United Kingdom,55.378100,-3.436000,2020-07-27,300111,45759,0,254352,Europe
49029,NaN,Uruguay,-32.522800,-55.765800,2020-07-27,1202,35,951,216,Americas
49030,NaN,US,40.000000,-100.000000,2020-07-27,4290259,148011,1325804,2816444,Americas
49031,NaN,Uzbekistan,41.377491,64.585262,2020-07-27,21209,121,11674,9414,Europe
49032,NaN,Venezuela,6.423800,-66.589700,2020-07-27,15988,146,9959,5883,Americas
49033,NaN,Vietnam,14.058324,108.277199,2020-07-27,431,0,365,66,Western Pacific
49034,NaN,Zambia,-13.133897,27.849332,2020-07-27,4552,140,2815,1597,Africa
49035,NaN,Zimbabwe,-19.015438,29.154857,2020-07-27,2704,36,542,2126,Africa
49036,NaN,Dominica,15.415000,-61.371000,2020-07-27,18,0,18,0,Americas
49037,NaN,Grenada,12.116500,-61.679000,2020-07-27,23,0,23,0,Americas
49038,NaN,Mozambique,-18.665695,35.529562,2020-07-27,1701,11,0,1690,Africa
49039,NaN,Syria,34.802075,38.996815,2020-07-27,674,40,0,634,Eastern Mediterranean
49040,NaN,Timor-Leste,-8.874217,125.727539,2020-07-27,24,0,0,24,South-East Asia
49041,NaN,Belize,17.189900,-88.497600,2020-07-27,48,2,26,20,Americas
49042,NaN,Laos,19.856270,102.495496,2020-07-27,20,0,19,1,Western Pacific
49043,NaN,Libya,26.335100,17.228331,2020-07-27,2827,64,577,2186,Eastern Mediterranean
49044,NaN,West Bank and Gaza,31.952200,35.233200,2020-07-27,10621,78,3752,6791,Eastern Mediterranean
49045,NaN,Guinea-Bissau,11.803700,-15.180400,2020-07-27,1954,26,803,1125,Africa
49046,NaN,Mali,17.570692,-3.996166,2020-07-27,2513,124,1913,476,Africa
49047,NaN,Saint Kitts and Nevis,17.357822,-62.782998,2020-07-27,17,0,15,2,Americas
49048,Northwest Territories,Canada,64.825500,-124.845700,2020-07-27,5,0,0,5,Americas
49049,Yukon,Canada,64.282300,-135.000000,2020-07-27,14,0,0,14,Americas
49050,NaN,Kosovo,42.602636,20.902977,2020-07-27,7413,185,4027,3201,Europe
49051,NaN,Burma,21.916200,95.956000,2020-07-27,350,6,292,52,South-East Asia
49052,Anguilla,United Kingdom,18.220600,-63.068600,2020-07-27,3,0,3,0,Europe
49053,British Virgin Islands,United Kingdom,18.420700,-64.640000,2020-07-27,8,1,7,0,Europe
49054,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,2020-07-27,99,2,36,61,Europe
49055,NaN,Botswana,-22.328500,24.684900,2020-07-27,739,2,63,674,Africa
49056,NaN,Burundi,-3.373100,29.918900,2020-07-27,378,1,301,76,Africa
49057,NaN,Sierra Leone,8.460555,-11.779889,2020-07-27,1783,66,1317,400,Africa
49058,NaN,Malawi,-13.254300,34.301500,2020-07-27,3664,99,1645,1920,Africa
49059,Falkland Islands (Malvinas),United Kingdom,-51.796300,-59.523600,2020-07-27,13,0,13,0,Europe
49060,Saint Pierre and Miquelon,France,46.885200,-56.315900,2020-07-27,4,0,1,3,Europe
49061,NaN,South Sudan,6.877000,31.307000,2020-07-27,2305,46,1175,1084,Africa
49062,NaN,Western Sahara,24.215500,-12.885800,2020-07-27,10,1,8,1,Africa
49063,NaN,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,NaN,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,NaN,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,NaN,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,NaN,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

In [15]:
data['Confirmed'].mode()

0    0
dtype: int64

In [18]:
data['Confirmed'].median()

168.0

In [19]:
data['Confirmed'].mean()

16884.90425531915

What is the average number of confirmed cases across all countries in this table?

In [22]:
data[data['Country/Region'] == 'India'].iloc[:60]

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
129,NaN,India,20.593684,78.96288,2020-01-22,0,0,0,0,South-East Asia
390,NaN,India,20.593684,78.96288,2020-01-23,0,0,0,0,South-East Asia
651,NaN,India,20.593684,78.96288,2020-01-24,0,0,0,0,South-East Asia
912,NaN,India,20.593684,78.96288,2020-01-25,0,0,0,0,South-East Asia
1173,NaN,India,20.593684,78.96288,2020-01-26,0,0,0,0,South-East Asia
1434,NaN,India,20.593684,78.96288,2020-01-27,0,0,0,0,South-East Asia
1695,NaN,India,20.593684,78.96288,2020-01-28,0,0,0,0,South-East Asia
1956,NaN,India,20.593684,78.96288,2020-01-29,0,0,0,0,South-East Asia
2217,NaN,India,20.593684,78.96288,2020-01-30,1,0,0,1,South-East Asia
2478,NaN,India,20.593684,78.96288,2020-01-31,1,0,0,1,South-East Asia
2739,NaN,India,20.593684,78.96288,2020-02-01,1,0,0,1,South-East Asia
3000,NaN,India,20.593684,78.96288,2020-02-02,2,0,0,2,South-East Asia
3261,NaN,India,20.593684,78.96288,2020-02-03,3,0,0,3,South-East Asia
3522,NaN,India,20.593684,78.96288,2020-02-04,3,0,0,3,South-East Asia
3783,NaN,India,20.593684,78.96288,2020-02-05,3,0,0,3,South-East Asia
4044,NaN,India,20.593684,78.96288,2020-02-06,3,0,0,3,South-East Asia
4305,NaN,India,20.593684,78.96288,2020-02-07,3,0,0,3,South-East Asia
4566,NaN,India,20.593684,78.96288,2020-02-08,3,0,0,3,South-East Asia
4827,NaN,India,20.593684,78.96288,2020-02-09,3,0,0,3,South-East Asia
5088,NaN,India,20.593684,78.96288,2020-02-10,3,0,0,3,South-East Asia
5349,NaN,India,20.593684,78.96288,2020-02-11,3,0,0,3,South-East Asia
5610,NaN,India,20.593684,78.96288,2020-02-12,3,0,0,3,South-East Asia
5871,NaN,India,20.593684,78.96288,2020-02-13,3,0,0,3,South-East Asia
6132,NaN,India,20.593684,78.96288,2020-02-14,3,0,0,3,South-East Asia
6393,NaN,India,20.593684,78.96288,2020-02-15,3,0,0,3,South-East Asia
6654,NaN,India,20.593684,78.96288,2020-02-16,3,0,3,0,South-East Asia
6915,NaN,India,20.593684,78.96288,2020-02-17,3,0,3,0,South-East Asia
7176,NaN,India,20.593684,78.96288,2020-02-18,3,0,3,0,South-East Asia
7437,NaN,India,20.593684,78.96288,2020-02-19,3,0,3,0,South-East Asia
7698,NaN,India,20.593684,78.96288,2020-02-20,3,0,3,0,South-East Asia
7959,NaN,India,20.593684,78.96288,2020-02-21,3,0,3,0,South-East Asia
8220,NaN,India,20.593684,78.96288,2020-02-22,3,0,3,0,South-East Asia
8481,NaN,India,20.593684,78.96288,2020-02-23,3,0,3,0,South-East Asia
8742,NaN,India,20.593684,78.96288,2020-02-24,3,0,3,0,South-East Asia
9003,NaN,India,20.593684,78.96288,2020-02-25,3,0,3,0,South-East Asia
9264,NaN,India,20.593684,78.96288,2020-02-26,3,0,3,0,South-East Asia
9525,NaN,India,20.593684,78.96288,2020-02-27,3,0,3,0,South-East Asia
9786,NaN,India,20.593684,78.96288,2020-02-28,3,0,3,0,South-East Asia
10047,NaN,India,20.593684,78.96288,2020-02-29,3,0,3,0,South-East Asia
10308,NaN,India,20.593684,78.96288,2020-03-01,3,0,3,0,South-East Asia
10569,NaN,India,20.593684,78.96288,2020-03-02,5,0,3,2,South-East Asia
10830,NaN,India,20.593684,78.96288,2020-03-03,5,0,3,2,South-East Asia
11091,NaN,India,20.593684,78.96288,2020-03-04,28,0,3,25,South-East Asia
11352,NaN,India,20.593684,78.96288,2020-03-05,30,0,3,27,South-East Asia
11613,NaN,India,20.593684,78.96288,2020-03-06,31,0,3,28,South-East Asia
11874,NaN,India,20.593684,78.96288,2020-03-07,34,0,3,31,South-East Asia
12135,NaN,India,20.593684,78.96288,2020-03-08,39,0,3,36,South-East Asia
12396,NaN,India,20.593684,78.96288,2020-03-09,43,0,3,40,South-East Asia
12657,NaN,India,20.593684,78.96288,2020-03-10,56,0,4,52,South-East Asia
12918,NaN,India,20.593684,78.96288,2020-03-11,62,1,4,57,South-East Asia
13179,NaN,India,20.593684,78.96288,2020-03-12,73,1,4,68,South-East Asia
13440,NaN,India,20.593684,78.96288,2020-03-13,82,2,4,76,South-East Asia
13701,NaN,India,20.593684,78.96288,2020-03-14,102,2,4,96,South-East Asia
13962,NaN,India,20.593684,78.96288,2020-03-15,113,2,13,98,South-East Asia
14223,NaN,India,20.593684,78.96288,2020-03-16,119,2,13,104,South-East Asia
14484,NaN,India,20.593684,78.96288,2020-03-17,142,3,14,125,South-East Asia
14745,NaN,India,20.593684,78.96288,2020-03-18,156,3,14,139,South-East Asia
15006,NaN,India,20.593684,78.96288,2020-03-19,194,4,15,175,South-East Asia
15267,NaN,India,20.593684,78.96288,2020-03-20,244,5,20,219,South-East Asia
15528,NaN,India,20.593684,78.96288,2020-03-21,330,4,23,303,South-East Asia

In [23]:
data

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...,...
49063,NaN,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,NaN,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,NaN,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,NaN,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,NaN,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

What is the average number of confirmed cases in every country in total (on the last available date in our table)?

In [25]:
max(data['Date'])

'2020-07-27'

In [26]:
# data[data['Date'] == '2020-07-27']
data[data['Date'] == max(data['Date'])]['Confirmed'].mean()

63143.620689655174

In [27]:
data[data['Date'] == max(data['Date'])]['Confirmed'].mode()

0       12
1       14
2       18
3       24
4       62
5       86
6       99
7      114
8      203
9    10621
dtype: int64

In [28]:
data[data['Date'] == max(data['Date'])]['Confirmed'].median()

1879.0

What is the maximum number of confirmed cases in every country?

In [34]:
data.groupby('Country/Region')['Confirmed'].agg(['max', 'mean'])

                      max          mean
Country/Region
Afghanistan         36263  10299.946809
Albania              4880   1046.287234
Algeria             27973   6275.292553
Andorra               907    502.148936
Angola                950    120.542553
...                   ...           ...
West Bank and Gaza  10621   1241.813830
Western Sahara         10      4.792553
Yemen                1691    357.340426
Zambia               4552    688.409574
Zimbabwe             2704    270.180851

[187 rows x 2 columns]

In [37]:
data.groupby('Country/Region')['Confirmed'].max().mean()

87615.74331550802

In [38]:
data.groupby('Country/Region')['Confirmed'].max()

Country/Region
Afghanistan           36263
Albania                4880
Algeria               27973
Andorra                 907
Angola                  950
                      ...
West Bank and Gaza    10621
Western Sahara           10
Yemen                  1691
Zambia                 4552
Zimbabwe               2704
Name: Confirmed, Length: 187, dtype: int64

In [41]:
data.groupby('Country/Region')['Confirmed'].max().sort_values(ascending=False)[:10]

Country/Region
US                4290259
Brazil            2442375
India             1480073
Russia             816680
South Africa       452529
Mexico             395489
Peru               389717
Chile              347923
United Kingdom     300111
Iran               293606
Name: Confirmed, dtype: int64

More info on groupby: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html

* **mean()**: Compute mean of groups

* **sum()**: Compute sum of group values

* **size()**: Compute group sizes

* **count()**: Compute count of group

* **std()**: Standard deviation of groups

* **var()**: Compute variance of groups

* **sem()**: Standard error of the mean of groups

* **describe()**: Generates descriptive statistics

* **first()**: Compute first of group values

* **last()**: Compute last of group values

* **nth()** : Take nth value, or a subset if n is a list

* **min()**: Compute min of group values

* **max()**: Compute max of group values

You can see several characteristics at once (mean, median, prod, sum, std,
var) - both in DataFrame and Series:

In [42]:
data.groupby('Country/Region')['Confirmed'].agg(['mean', 'median', 'std'])

                            mean  median           std
Country/Region
Afghanistan         10299.946809  1407.0  13458.792417
Albania              1046.287234   695.0   1264.372255
Algeria              6275.292553  3191.5   7339.328093
Andorra               502.148936   734.5    371.460824
Angola                120.542553    25.0    214.148815
...                          ...     ...           ...
West Bank and Gaza   1241.813830   341.0   2513.959434
Western Sahara          4.792553     6.0      4.172042
Yemen                 357.340426     1.0    548.353443
Zambia                688.409574    84.0    986.737387
Zimbabwe              270.180851    30.0    523.430314

[187 rows x 3 columns]

In [43]:
data.pivot_table(columns='WHO Region', index='Date', values='Confirmed', aggfunc='sum')

WHO Region,Africa,Americas,Eastern Mediterranean,Europe,South-East Asia,Western Pacific
Date,,,,,,
2020-01-22,0,1,0,0,2,552
2020-01-23,0,1,0,0,3,650
2020-01-24,0,2,0,2,5,932
2020-01-25,0,2,0,3,8,1421
2020-01-26,0,6,0,3,9,2100
...,...,...,...,...,...,...
2020-07-23,656696,8294228,1439937,3216701,1625727,277192
2020-07-24,677376,8460627,1453830,3239712,1679154,280946
2020-07-25,694057,8609554,1467209,3259047,1732350,284973
2020-07-26,711035,8709755,1478334,3277229,1786304,289139
2020-07-27,723207,8839286,1490744,3299523,1835297,292428

In [45]:
data[data['Active'] > 0]

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
48,Anhui,China,31.825700,117.226400,2020-01-22,1,0,0,1,Western Pacific
49,Beijing,China,40.182400,116.414200,2020-01-22,14,0,0,14,Western Pacific
50,Chongqing,China,30.057200,107.874000,2020-01-22,6,0,0,6,Western Pacific
51,Fujian,China,26.078900,117.987400,2020-01-22,1,0,0,1,Western Pacific
53,Guangdong,China,23.341700,113.424400,2020-01-22,26,0,0,26,Western Pacific
...,...,...,...,...,...,...,...,...,...,...
49063,NaN,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,NaN,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,NaN,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,NaN,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,NaN,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

In [46]:
data[data['WHO Region'] == 'Western Pacific']['Country/Region'].unique()

array(['Australia', 'Brunei', 'Cambodia', 'China', 'Fiji', 'Japan',
       'South Korea', 'Malaysia', 'Mongolia', 'New Zealand',
       'Papua New Guinea', 'Philippines', 'Singapore', 'Taiwan*',
       'Vietnam', 'Laos'], dtype=object)

In [49]:
avg_confirmed = data[data['Date'] == max(data['Date'])]['Confirmed'].mean()

In [50]:
avg_confirmed

63143.620689655174

In [51]:
data[(data['WHO Region'] == 'Western Pacific') & (data['Confirmed'] > avg_confirmed)]

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
8152,Hubei,China,30.975600,112.270700,2020-02-22,64084,2346,15299,46439,Western Pacific
8413,Hubei,China,30.975600,112.270700,2020-02-23,64084,2346,15343,46395,Western Pacific
8674,Hubei,China,30.975600,112.270700,2020-02-24,64287,2495,16748,45044,Western Pacific
8935,Hubei,China,30.975600,112.270700,2020-02-25,64786,2563,18971,43252,Western Pacific
9196,Hubei,China,30.975600,112.270700,2020-02-26,65187,2615,20969,41603,Western Pacific
...,...,...,...,...,...,...,...,...,...,...
48465,NaN,Philippines,12.879721,121.774017,2020-07-25,78412,1897,25752,50763,Western Pacific
48607,Hubei,China,30.975600,112.270700,2020-07-26,68135,4512,63623,0,Western Pacific
48726,NaN,Philippines,12.879721,121.774017,2020-07-26,80448,1932,26110,52406,Western Pacific
48868,Hubei,China,30.975600,112.270700,2020-07-27,68135,4512,63623,0,Western Pacific
48987,NaN,Philippines,12.879721,121.774017,2020-07-27,82040,1945,26446,53649,Western Pacific

In [52]:
data[(data['WHO Region'] == 'Western Pacific') & (data['Confirmed'] > avg_confirmed)]['Country/Region'].unique()

array(['China', 'Philippines'], dtype=object)

In [53]:
some_countries = ['China', 'Singapore', 'Philippines', 'Japan']

In [55]:
data[data['Country/Region'].isin(some_countries)]

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
48,Anhui,China,31.825700,117.226400,2020-01-22,1,0,0,1,Western Pacific
49,Beijing,China,40.182400,116.414200,2020-01-22,14,0,0,14,Western Pacific
50,Chongqing,China,30.057200,107.874000,2020-01-22,6,0,0,6,Western Pacific
51,Fujian,China,26.078900,117.987400,2020-01-22,1,0,0,1,Western Pacific
52,Gansu,China,35.751800,104.286100,2020-01-22,0,0,0,0,Western Pacific
...,...,...,...,...,...,...,...,...,...,...
48886,Yunnan,China,24.974000,101.487000,2020-07-27,190,2,186,2,Western Pacific
48887,Zhejiang,China,29.183200,120.093400,2020-07-27,1270,1,1268,1,Western Pacific
48944,NaN,Japan,36.204824,138.252924,2020-07-27,31142,998,21970,8174,Western Pacific
48987,NaN,Philippines,12.879721,121.774017,2020-07-27,82040,1945,26446,53649,Western Pacific
49001,NaN,Singapore,1.283300,103.833300,2020-07-27,50838,27,45692,5119,Western Pacific

Let's make a small report:

In [56]:
data = pd.read_csv('./data/covid_19_clean.csv')

print("Number of countries: ", data['Country/Region'].nunique())
print(f"Day from {min(data['Date'])} till {max(data['Date'])}, overall {data['Date'].nunique()} days.")

data['Date'] = pd.to_datetime(data['Date'], format = '%Y-%m-%d')


display(data[data['Country/Region'] == 'Russia'].tail())

Number of countries:  187
Day from 2020-01-22 till 2020-07-27, overall 188 days.

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
47948,NaN,Russia,61.52401,105.318756,2020-07-23,793720,12873,579295,201552,Europe
48209,NaN,Russia,61.52401,105.318756,2020-07-24,799499,13026,587728,198745,Europe
48470,NaN,Russia,61.52401,105.318756,2020-07-25,805332,13172,596064,196096,Europe
48731,NaN,Russia,61.52401,105.318756,2020-07-26,811073,13249,599172,198652,Europe
48992,NaN,Russia,61.52401,105.318756,2020-07-27,816680,13334,602249,201097,Europe

The coronavirus pandemic is a clear example of an exponential distribution. To demonstrate this, let's build a graph of the total number of infected and dead. We will use a linear chart type (** Line Chart **), which can reflect the dynamics of one or several indicators. It is convenient to use it to see how a value changes over time.

In [ ]:
# Line chart

ax = data[['Confirmed', 'Deaths', 'Date']].groupby('Date').sum().plot(title='Title')
ax.set_xlabel("X axes")
ax.set_ylabel("Y axes");
 
# TODO
# Change the title and axes names

The graph above shows us general information around the world. Let's select the 10 most affected countries (based on the results of the last day from the dataset) and on one **Line Chart** show data for each of them according to the number of registered cases of the disease. This time, let's try using the **plotly** library.

In [ ]:
# Preparation steps fot the table

# Extract the top 10 countries by the number of confirmed cases
df_top = data[data['Date'] == max(data.Date)]
df_top = df_top.groupby('Country/Region', as_index=False)['Confirmed'].sum()
df_top = df_top.nlargest(10,'Confirmed')

# Extract trend across time
df_trend = data.groupby(['Date','Country/Region'], as_index=False)['Confirmed'].sum()
df_trend = df_trend.merge(df_top, on='Country/Region')
df_trend.rename(columns={'Country/Region' : 'Countries', 
                         'Confirmed_x':'Cases',
                         'Date' : 'Dates'}, 
                inplace=True)

In [ ]:
# Plot a graph
# px stands for plotly_express
px.line(df_trend, 
        title='Increased number of cases of COVID-19',
        x='Dates', 
        y='Cases', 
        color='Countries')

Let's put a logarithm on this column.

In [ ]:
# Add a column to visualize the logarithmic
df_trend['ln(Cases)'] = np.log(df_trend['Cases'] + 1) # Add 1 for log (0) case

px.line(df_trend, 
        x='Dates', 
        y='ln(Cases)', 
        color='Countries', 
        title='COVID19 Total Cases growth for top 10 worst affected countries(Logarithmic Scale)')

What interesting conclusions can you draw from this graph?

Try to do similar graphs for the deaths and active cases.

In [ ]:
# TODO

Another popular chart is the **Pie chart**. Most often, this graph is used to visualize the relationship between parts (ratios).

In [ ]:
# Pie chart

fig = make_subplots(rows=1, cols=2, specs=[[{'type':'domain'}, {'type':'domain'}]])
labels_donut = [country for country in df_top['Country/Region']]
fig.add_trace(go.Pie(labels=labels_donut, hole=.4, hoverinfo="label+percent+name", 
                     values=[cases for cases in df_top.Confirmed], 
                     name="Ratio", ), 1, 1)
labels_pie = [country for country in df_top['Country/Region']]
fig.add_trace(go.Pie(labels=labels_pie, pull=[0, 0, 0.2, 0], 
                     values=[cases for cases in df_top.Confirmed], 
                     name="Ratio"), 1, 2)

fig.update_layout(
    title_text="Donut & Pie Chart: Distribution of COVID-19 cases among the top-10 affected countries",
    # Add annotations in the center of the donut pies.
    annotations=[dict(text=' ', x=0.5, y=0.5, font_size=16, showarrow=False)],
    colorway=['rgb(69, 135, 24)', 'rgb(136, 204, 41)', 'rgb(204, 204, 41)', 
              'rgb(235, 210, 26)', 'rgb(209, 156, 42)', 'rgb(209, 86, 42)', 'rgb(209, 42, 42)', ])
fig.show()

In the line graphs above, we have visualized aggregate country information by the number of cases detected. Now, let's try to plot a daily trend chart by calculating the difference between the current value and the previous day's value.
For this purpose, we will use a histogram (**Histogram**). Also, let's add pointers to key events, for example, lockdown dates in Wuhan province in China, Italy and the UK.

In [ ]:
# Histogram

def add_daily_diffs(df):
    # 0 because the previous value is unknown
    df.loc[0,'Cases_daily'] = 0
    df.loc[0,'Deaths_daily'] = 0
    for i in range(1, len(df)):
        df.loc[i,'Cases_daily'] = df.loc[i,'Confirmed'] - df.loc[i - 1,'Confirmed']
        df.loc[i,'Deaths_daily'] = df.loc[i,'Deaths'] - df.loc[i - 1,'Deaths']
    return df

df_world = data.groupby('Date', as_index=False)['Deaths', 'Confirmed'].sum()
df_world = add_daily_diffs(df_world)

fig = go.Figure(data=[
    go.Bar(name='The number of cases',
           marker={'color': 'rgb(0,100,153)'},
           x=df_world.Date, 
           y=df_world.Cases_daily),
    go.Bar(name='The number of cases', x=df_world.Date, y=df_world.Deaths_daily)
])

fig.update_layout(barmode='overlay', title='Statistics on the number of Confirmed and Deaths from COVID-19 across the world',
                 annotations=[dict(x='2020-01-23', y=1797, text="Lockdown (Wuhan)", 
                                   showarrow=True, arrowhead=1, ax=-100, ay=-200),
                              dict(x='2020-03-09', y=1797, text="Lockdown (Italy)", 
                                   showarrow=True, arrowhead=1, ax=-100, ay=-200),
                              dict(x='2020-03-23', y=19000, text="Lockdown (UK)", 
                                   showarrow=True, arrowhead=1, ax=-100, ay=-200)])
fig.show()

In [ ]:
# Save 
plotly.offline.plot(fig, filename='my_beautiful_histogram.html', show_link=False)

A histogram is often mistaken for a bar chart due to its visual similarity, but these charts have different purposes. The bar graph shows how the data is distributed over a continuous interval or a specific period of time. Frequency is located along the vertical axis of the histogram, intervals or some time period along the horizontal axis.

Let's build the **Bar Chart** now. It can be vertical and horizontal, let's choose the second option.
Let's build a graph only for the top 20 countries in mortality. We will calculate this statistics as the ratio of the number of deaths to the number of confirmed cases for each country.

For some countries in the dataset, statistics are presented for each region (for example, for all US states). For such countries, we will leave only one (maximum) value. Alternatively, one could calculate the average for the regions and leave it as an indicator for the country.

In [ ]:
# Bar chart

df_mortality = data.query('(Date == "2020-07-17") & (Confirmed > 100)') 
df_mortality['mortality'] = df_mortality['Deaths'] / df_mortality['Confirmed']
df_mortality['mortality'] = df_mortality['mortality'].apply(lambda x: round(x, 3))
df_mortality.sort_values('mortality', ascending=False, inplace=True)
# Keep the maximum mortality rate for countries for which statistics are provided for each region.
df_mortality.drop_duplicates(subset=['Country/Region'], keep='first', inplace=True)

fig = px.bar(df_mortality[:20].iloc[::-1],
             x='mortality', 
             y='Country/Region',
             labels={'mortality': 'Death rate', 'Country\Region': 'Country'},
             title=f'Death rate: top-20 affected countries on 2020-07-17', 
             text='mortality', 
             height=800, 
             orientation='h') # горизонтальный
fig.show()

# TODO: раскрасить столбцы по тепловой карте (используя уровень смерности)
# Для этого добавьте аргументы color = 'mortality'

**Heat Maps** quite useful for additional visualization of correlation matrices between features. When there are a lot of features, with the help of such a graph you can more quickly assess which features are highly correlated or do not have a linear relationship.

In [ ]:
# Heat map
sns.heatmap(data.corr(), annot=True, fmt='.2f', cmap='cividis'); # try another color, e.g.'RdBu'

The scatter plot helps to find the relationship between the two indicators. To do this, you can use pairplot, which will immediately display a histogram for each variable and a scatter plot for two variables (along different plot axes).

In [ ]:
# Pairplot
sns_plot = sns.pairplot(data[['Deaths', 'Confirmed']])
sns_plot.savefig('pairplot.png') # save

**Pivot table** can automatically sort and aggregate your data.

In [ ]:
# Pivot table

plt.figure(figsize=(12, 4))
df_new = df_mortality.iloc[:10]
df_new['Confirmed'] = df_new['Confirmed'].astype(np.int)
df_new['binned_fatalities'] = pd.cut(df_new['Deaths'], 3)
platform_genre_sales = df_new.pivot_table(
                        index='binned_fatalities', 
                        columns='Country/Region', 
                        values='Confirmed', 
                        aggfunc=sum).fillna(int(0)).applymap(np.int)
sns.heatmap(platform_genre_sales, annot=True, fmt=".1f", linewidths=0.7, cmap="viridis");

In [ ]:
# Geo

# file with abbreviations 
with open('./data/countries_codes.pkl', 'rb') as file:
    countries_codes = pickle.load(file)
    
df_map = data.copy()
df_map['Date'] = data['Date'].astype(str)
df_map = df_map.groupby(['Date','Country/Region'], as_index=False)['Confirmed','Deaths'].sum()
df_map['iso_alpha'] = df_map['Country/Region'].map(countries_codes)
df_map['ln(Confirmed)'] = np.log(df_map.Confirmed + 1)
df_map['ln(Deaths)'] = np.log(df_map.Deaths + 1)

px.choropleth(df_map, 
              locations="iso_alpha", 
              color="ln(Confirmed)", 
              hover_name="Country/Region",
              hover_data=["Confirmed"],
              animation_frame="Date",
              color_continuous_scale=px.colors.sequential.OrRd,
              title = 'Total Confirmed Cases growth (Logarithmic Scale)')

What important information did the new graph provide (visualization by time and geolocation)? Is it possible to answer the questions according to the schedule:
* Which country did the spread of the coronavirus start from?
* Which countries are most affected by the pandemic?
* What part of the hemisphere accounts for the majority of cases? What hypotheses can be formulated regarding the temperature and rate of spread of the virus?

What other observations can you make from the graph?

### **Recommended materials**

1. Matplotlib documentation https://matplotlib.org/3.2.1/tutorials/index.html 
2. Seaborn documentation https://seaborn.pydata.org/tutorial.html
3. Plotly https://plotly.com/python/ 
4. [Kaggle COVID19-Explained through Visualizations](https://www.kaggle.com/anshuls235/covid19-explained-through-visualizations/#data)
5. Open Data Science lecture on these topics:
https://www.youtube.com/watch?v=fwWCw_cE5aI&list=PLVlY_7IJCMJeRfZ68eVfEcu-UcN9BbwiX&index=2

https://www.youtube.com/watch?v=WNoQTNOME5g&list=PLVlY_7IJCMJeRfZ68eVfEcu-UcN9BbwiX&index=3

### **Additional libraries**:
* Bokeh
* ggplot
* geoplotlib
* pygal